
#MainChatArea{
    background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783,#e60000) 0 / 200%;
    height: 80px;
    animation: 5s example4 linear infinite;
}
@keyframes example4{
    100% { background-position: 200%; }
}
